<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card border-dark mb-3">
        <div class="card-header p-0">
          <div class="embed-responsive embed-responsive-16by90">
            <iframe width="560" height="315" src= movie.url frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <div class="card-body text-dark movie-body">
          <a class="btn btn-primary btn-block" href="#">視聴済みにする</a>
          <p class="card-text movie-title"><%= movie.title %></p>
        </div>
      </div>
    </div>
  </div>
</div>
