.text-page-title {
  font-size: 2rem;
  padding: 20px 0 10px 0;
  text-align: center;
}

.row {
  .card-box {
    padding: 0 9px 0 9px;
    margin-bottom: 50px;
    .card {
      margin: 0 auto;
      max-width: 376px;
      height: 370px;
      .card-header {
        .card-img-top {
          max-width: 100%;
          height: auto;
        }
      }
      .card-body {
        padding: 20px;
        .read-through-box {
          .btn {
            width: 100%;
          }
        }
        .card-title {
          margin: 30px 0 16px 0;
          font-size: 0.875rem;
        }
      }
    }
  }
}
