<div class="card-box col-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <img class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="スダンダードコースのイメージ画像">
      </div>
      <div class="card-body">
        <div class="read-through-box">
          <a href="#" class="btn btn-block btn-secondary">読破済みにする</a>
        </div>
        <h5 class="card-title"><%= text.title %></h5>
        <p class="card-text">【<%= text.genre_i18n %>】</p>
      </div>
    </div>
</div>

