<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="スダンダードコースのイメージ画像">
  <div class="card-body">
    <a href="#" class="btn btn-primary">読破済みボタン</a>
    <h5 class="card-title">
      <%= text.title %>
    </h5>
    <p class="card-text">
      【<%= text.genre %>】
    </p>
  </div>
</div>
